<ion-view class="pane">
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar">
    <div class="buttons buttons-left header-item">
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
    <h1 class="title">Title</h1>
    <div class="buttons buttons-right header-item">
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button>
    </div>
  </ion-header-bar>
  <ion-content data-component="crn-ion-content" class="scroll-content has-header" ng-init="cronapi.client('js.blockly.ObterParametro.construirTela').run()">
  <p xattr-position="text-center" class="text-center component-holder" data-component="crn-paragraph" id="p-numero-processo" ng-model="p-numero-processo">p-numero-processo</p><p xattr-position="text-center" class="text-center component-holder" data-component="crn-paragraph" id="p-assunto" ng-model="p-assunto">p-assunto</p></ion-content>
</ion-view>