ion-content button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.style3460 { 
  border-radius: 6px;
  opacity: 1;
}

.style1786 { 
}

.style8333 { 
  width: 70px;
  height: 30px;
}

.style8602 { 
}
